# local package
numpy==1.20.2
pandas==1.2.4
nltk==3.6.1
scipy==1.6.2
matplotlib==3.4.1
scikit-learn==1.2.2
transformers
torch
pytest
dvc
dvc-gdrive
dvc-s3
pytest-cov
pytest-html
flask
flasgger
joblib
prometheus_client

# external requirements
click
Sphinx
coverage
gitpython
# awscli
flake8
python-dotenv
mllint
pylint==2.12.2
mypy
black
isort
bandit